.main {
  h1 {
    color: var(--primary-color);
    font-weight: 300;
    font-size: calc(5.2rem + 0.6vmin);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}
